.container10{
	width: 100%;
	height: 550px;
	background: #EFDCC7;
	border-bottom: 1px solid #000000;
}
.container10 .earlychild-title{
	text-align: center;
	padding-top: 100px;
}
.container10 .earlychild-title h1{
	font-size: 36px;
	font-family: "Poppins";
}
.container10 .earlychild-title p{
	padding-top: 30px;
	font-size: 16px;
}
.container11{
	width: 100%;
	height: 2000px;
	background: #FFE9D1;
	border-bottom: 1px solid #000000;
}
.container11 .text-holder-title{
    text-align: center;
	padding-top: 100px;
}
.container11 .text-holder-title h1{
    font-size: 36px;
	font-family: "Poppins";
}
.container11 .wrapper-content{
	position: absolute;
	display: flex;
	top:  115%;
	left: 18%;
	width: 1000px;
	height: 500px;
	background: #DBBE75;
	justify-content: center;
	border-radius: 10px;
	gap: 50px;
}
.container11 .wrapper-content .image-holder{
	align-content: center;
	text-align: center;
}
.container11 .wrapper-content .image-holder img{
	width: 250px;
	border-radius: 10px;
}
.container11 .wrapper-content .text-holder{
	text-align: center;
	align-content: center;
}
.container11 .wrapper-content .text-holder h1{
	font-size: 28px;
}
.container11 .wrapper-content .text-holder p{
	font-size: 16px;
    padding-top: 10px;
}
.container11 .wrapper-content1{
	position: absolute;
	display: flex;
	top:  182.5%;
	left: 18%;
	width: 1000px;
	height: 500px;
	background: #F9DEAB;
	justify-content: center;
	border-radius: 10px;
	gap: 50px;
}
.container11 .wrapper-content1 .image-holder1{
	align-content: center;
	text-align: center;
}
.container11 .wrapper-content1 .image-holder1 img{
	width: 250px;
	border-radius: 10px;
}
.container11 .wrapper-content1 .text-holder1{
	text-align: center;
	align-content: center;
}
.container11 .wrapper-content1 .text-holder1 h1{
	font-size: 28px;
}
.container11 .wrapper-content1 .text-holder1 p{
	font-size: 16px;
    padding-top: 10px;
}
.container11 .wrapper-content2{
	position: absolute;
	display: flex;
	top:  250.5%;
	left: 18%;
	width: 1000px;
	height: 500px;
	background: #DBBE75;
	justify-content: center;
	border-radius: 10px;
	gap: 50px;
}
.container11 .wrapper-content2 .image-holder2{
	align-content: center;
	text-align: center;
}
.container11 .wrapper-content2 .image-holder2 img{
	width: 300px;
	border-radius: 10px;
}
.container11 .wrapper-content2 .text-holder2{
	text-align: center;
	align-content: center;
}
.container11 .wrapper-content2 .text-holder1 h1{
	font-size: 28px;
}
.container11 .wrapper-content2 .text-holder2 p{
	font-size: 16px;
    padding-top: 10px;
}
.container11 .floating-button{
	top: 320%;
	left: 70%;
	position: absolute;
}
.container11 .floating-button a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 8px;
	background: #651111;
	text-decoration: none;
	color: #FFFFFF;
}
.container11 .floating-button1{
	top: 320%;
	left: 60%;
	position: absolute;
}
.container11 .floating-button1 a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 8px;
	background: #651111;
	text-decoration: none;
	color: #FFFFFF;
}
.container11-1{
	width: 100%;
	height: 1450px;
	background: #FFE9D1;
	border-bottom: 1px solid #000000;
}
.container11-1 .text-holder-title{
    text-align: center;
	padding-top: 100px;
}
.container11-1 .text-holder-title h1{
    font-size: 36px;
	font-family: "Poppins";
}
.container11-1 .wrapper-content{
	position: absolute;
	display: flex;
	top:  115%;
	left: 18%;
	width: 1000px;
	height: 500px;
	background: #DBBE75;
	justify-content: center;
	border-radius: 10px;
	gap: 50px;
}
.container11-1 .wrapper-content .image-holder{
	align-content: center;
	text-align: center;
}
.container11-1 .wrapper-content .image-holder img{
	width: 250px;
	border-radius: 10px;
}
.container11-1 .wrapper-content .text-holder{
	text-align: center;
	align-content: center;
}
.container11-1 .wrapper-content .text-holder h1{
	font-size: 28px;
}
.container11-1 .wrapper-content .text-holder p{
	font-size: 16px;
    padding-top: 10px;
}
.container11-1 .wrapper-content1{
	position: absolute;
	display: flex;
	top:  182.5%;
	left: 18%;
	width: 1000px;
	height: 500px;
	background: #F9DEAB;
	justify-content: center;
	border-radius: 10px;
	gap: 50px;
}
.container11-1 .wrapper-content1 .image-holder1{
	align-content: center;
	text-align: center;
}
.container11-1 .wrapper-content1 .image-holder1 img{
	width: 300px;
	border-radius: 10px;
}
.container11-1 .wrapper-content1 .text-holder1{
	text-align: center;
	align-content: center;
}
.container11-1 .wrapper-content1 .text-holder1 h1{
	font-size: 28px;
}
.container11-1 .wrapper-content1 .text-holder1 p{
	font-size: 16px;
    padding-top: 10px;
}
.container11-1 .floating-button1{
	top: 252%;
	left: 60%;
	position: absolute;
}
.container11-1 .floating-button1 a{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 8px;
	background: #651111;
	text-decoration: none;
	color: #FFFFFF;
}










.footer{
	height: 100px;
	background: #651111;
	box-shadow: inset -5px -5px 10px #470c0c,
            inset 5px 5px 10px #831616;

}
.footer h1{
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	color: #F9CF63;
}