.container10{
    width: 100%;
    height: 3250px;
    background: #FFE9D1;
}
.container10 .title-holder{
    padding-top: 100px;
    text-align: center;
}
.container10 .sculp1{
	top: 40%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp1 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp1 img{
    border-radius: 10px;
}
.container10 .sculp2{
	top: 40%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp2 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp2 img{
    border-radius: 10px;
}

.container10 .sculp3{
	top: 40%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp3 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp3 img{
    border-radius: 10px;
}




.container10 .sculp4{
	top: 105%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp4 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp4 img{
    border-radius: 10px;
}
.container10 .sculp5{
	top: 105%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp5 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp5 img{
    border-radius: 10px;
}
.container10 .sculp6{
	top: 105%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp6 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp6 img{
    border-radius: 10px;
}


.container10 .sculp7{
	top: 170%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp7 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp7 img{
    border-radius: 10px;
}
.container10 .sculp8{
	top: 170%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp8 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp8 img{
    border-radius: 10px;
}
.container10 .sculp9{
	top: 170%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp9 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp9 img{
    border-radius: 10px;
}




.container10 .sculp10{
	top: 235%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp10 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp10 img{
    border-radius: 10px;
}
.container10 .sculp11{
	top: 235%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp11 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp11 img{
    border-radius: 10px;
}
.container10 .sculp12{
	top: 235%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp12 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp12 img{
    border-radius: 10px;
}





.container10 .sculp13{
	top: 300%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp13 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp13 img{
    border-radius: 10px;
}
.container10 .sculp14{
	top: 300%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp14 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp14 img{
    border-radius: 10px;
}
.container10 .sculp15{
	top: 300%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp15 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp15 img{
    border-radius: 10px;
}




.container10 .sculp16{
	top: 365%;
    left: 7.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp16 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp16 img{
    border-radius: 10px;
}
.container10 .sculp17{
	top: 365%;
    left: 37.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp17 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp17 img{
    border-radius: 10px;
}
.container10 .sculp18{
	top: 365%;
    left: 67.5%;
    position: absolute;
    text-align: center;
}
.container10 .sculp18 h1{
    padding-top: 10px;
    font-family: 'Poppins';
    font-weight: 500;
}
.container10 .sculp18 img{
    border-radius: 10px;
}












.footer{
	height: 100px;
	background: #651111;
	box-shadow: inset -5px -5px 10px #470c0c,
            inset 5px 5px 10px #831616;

}
.footer h1{
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	color: #F9CF63;
}