.container10{
    width: 100%;
    height: 1600px;
    background: #FFE9D1;
}
.container10 .title-holder{
    padding-top: 150px;
    text-align: center;
}
.container10 .mem1{
    left: 20%;
    top: 50%;
    position: absolute;
    text-align: center;
}
.container10 .mem1 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}



.container10 .mem2{
    left: 40%;
    top: 50%;
    position: absolute;
    text-align: center;
}
.container10 .mem2 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}



.container10 .mem3{
    left: 60%;
    top: 50%;
    position: absolute;
    text-align: center;
}
.container10 .mem3 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.container10 .mem4{
    left: 20%;
    top: 100%;
    position: absolute;
    text-align: center;
}
.container10 .mem4 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.container10 .mem5{
    left: 40%;
    top: 100%;
    position: absolute;
    text-align: center;
}
.container10 .mem5 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}


.container10 .mem6{
    left: 60%;
    top: 100%;
    position: absolute;
    text-align: center;
}
.container10 .mem6 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.container10 .mem7{
    left: 20%;
    top: 150%;
    position: absolute;
    text-align: center;
}
.container10 .mem7 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.container10 .mem8{
    left: 40%;
    top: 150%;
    position: absolute;
    text-align: center;
}
.container10 .mem8 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}

.container10 .mem9{
    left: 60%;
    top: 150%;
    position: absolute;
    text-align: center;
}
.container10 .mem9 img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.container10 .desc{
    width: 250px;
    height: 80px;
    text-align: center;
    align-content: center;
}












.footer{
	height: 100px;
	background: #651111;
	box-shadow: inset -5px -5px 10px #470c0c,
            inset 5px 5px 10px #831616;

}
.footer h1{
	padding-top: 35px;
	text-align: center;
	font-size: 20px;
	color: #F9CF63;
}